<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        input {
            display: block;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="register" method="post">
        {% csrf_token %}
        <input type='text' name='first_name' placeholder="First name">
        <input type='text' name='last_name' placeholder="Last name">
        <input type='text' name='username' placeholder="Username">
        <input type='email' name='email' placeholder="Email">
        <input type='password' name='password1' placeholder="Password">
        <input type='password' name='password2' placeholder="Confirm password">
        <input type='submit' value='Submit' > 
    </form>

    <div>
        {% for message in messages %}

            <h3> {{message}} </h3>
        {% endfor %}
    </div>
</body>
</html>